body{
	background-image: radial-gradient(#ffffff,#076585);
}
.top{
	position: relative;
    width: 800px;
    margin-left: 140px;
    float: left;
    margin-top: 8px;
    padding-bottom: 13px;
  }
  ul{
    float: left;
    display: flex;
    justify-content: center;
    color: rgb(24, 83, 83);
  }
  ul li{
    list-style:none ;
    font-size: 30px;
    font-family: Geneva;
    padding-left: 130px;
    font-weight: bold;
    color: rgb(74, 184, 70);
  }
  ul li a{
    text-decoration: none;
    transform: .2s ease-in-out;
    color: rgb(87, 133, 134);
  }
  ul li a:hover{
  color: aqua;
  }
  .photo{
    margin-left:110px ;
    margin-top: 20px;
  }
  .photo .img1{
    margin-top: .5px;
    height:322px;
    width: 660px;
	cursor: pointer;
  }
  .photo .img1:hover{
  filter: brightness(70%);
  }
  .photo .par{
  transition: .2s ease-in-out;
  margin-left:148px ;
  margin-top: -600px;
  margin-right: 202px;
  transform: rotate(270deg);
  letter-spacing: 3px;
  }
  .photo .p{
    width:305px;
    font-family:serif ;
    font-size: 70px;
    background: rgb(105, 169, 241);
    color: snow;
    border:8.7px solid rgb(105, 169, 241) ;
    padding-top: 1.5px;
	margin-top: .2px;
    height: 70px; 
  }
  .photo1 {
    padding-right: 4px;
    margin-left: 910px;
    margin-top: 90px;
  }
  .photo1 .img2{
    width: 500px;
    height: 232px;
  margin-top: 15px;
    cursor: pointer;
  }
  .photo1 .img2:hover{
  filter: brightness(70%);
  }
  .photo1 .mov{ 
    margin-top: -327px;
    transition: .2s ease-in-out;
    letter-spacing: 3px;
  }
  .photo1 .m{
   margin-top: .2px;
    height: 70px; 
  }
  .photo1 p{
    color: snow;
    font-size: 60px;
    font-family: serif;
    background: rgb(151, 226, 100);
    width: 500px;
    border: 22px solid rgb(151, 226, 100);
    border-left: none;
    border-right: none;
    text-align: right;
  }
  .photo2 {
      margin-top: 245.75px;
      margin-left: 110px;
  }
  .photo2 .img3{
    width: 530px;
    height: 230px;
  }
  .photo2 .img3:hover{
      filter:brightness(70%)
  }
  .photo2 .ele{
      margin-top: -6px;
      font-family: serif;
      font-size: 20px;
      color:snow;
      font-size:70px;
      letter-spacing: 3px;
      padding-left: 5px;
      background: rgb(238, 180, 74);
      width: 526px;
      height: 100px;   
  }
  .photo3{
   margin-left: 679px;
   margin-top: -399px;
   margin-right: 350px;
  }
.photo3 .img4{
    width: 650px;
    height: 330px;
    margin-bottom: 50px;
}
.photo3 .img4:hover{
  filter: brightness(70%);
  
}
.paa{
  margin-top: -x;
  
}
.paa .f{
 margin-top: -271px;
 font-size: 70px;
 background: rgb(243, 108, 108);
 color: snow;
 width: 332px;
 height: 100px;
 /**/transform: rotate(90deg);
 margin-left: 530px;
 text-align: left;
}
.search{
  margin-top: 20px;
  padding-left: 50px;
}
.search .srch{
position: absolute;
	top: 8px;
	right: 16px;
  margin-top: 20px;
  margin-left: 140px;
  background:transparent;
  border: 2px solid rgb(87, 133, 134);
  width: 280px;
  height: 35px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 20px;
  text-align: center;
  color: rgb(233, 163, 163);
}
.search .btn{
  height: 35px;
  margin-left: -5px;
  width: 120px;
  font-size: 18px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid rgb(87, 133, 134);
  border-top:4.3px solid rgb(87, 133, 134);
  border-bottom: 2px solid rgb(87, 133, 134);
 background: rgb(87, 133, 134);
}
::placeholder{
  color: rgb(44, 85, 87);
}

.logo{
    color:#dae6c5;
    font-size: 35px;
    font-family: Geneva;
    padding-right: 100px;
    float: left;
    padding-top: 40px;
}